@use 'stylelib/index' as lib;

$max-p-width: 690px;

.articleContainer {
	@include lib.layout-full-width-container;
	grid-row-gap: lib.$layout-spacing-large;
}

.head {
	display: grid;
	@include lib.layout-grid-2-columns-thirds;
	grid-gap: lib.$layout-spacing-medium;
	justify-content: start;

	.posterContainer {
		position: relative;
		grid-row: 1;
		height: min(calc(100vw * 0.75), calc(#{lib.$layout-max-content-width} * 0.75 ));
	}

	.titleSection {
		display: grid;
		grid-template-columns: min(100%, #{$max-p-width});
		justify-content: center;
		align-content: center;
		grid-gap: lib.$layout-spacing-small;

		.category {
			@include lib.typo-font-large;

			a {
				text-decoration: none;
			}
		}

		.title {
			@include lib.typo-font-xxlarge;
		}

		.authorPreviewsContainer {
			display: grid;
			grid-template-columns: 1fr 1fr;

			a { text-decoration: none; }

			.authorPreview {
				display: flex;
				gap: lib.$layout-spacing-small;
				align-items: center;

				.authorImgContainer {
					position: relative;
					width: 35px;
					height: 35px;
					clip-path: circle(17.5px at center center);
				}

				.authorName {
					font-style: italic;
				}
			}
		}

		.intro {
			font-style: italic;
		}

		.timeDisplays {
			opacity: 0.7;
		}
	}

	@media (min-width: lib.$layout-max-content-width / 1.3) {
		.posterContainer {
			height: min(calc(66.66vw * 0.75), calc((2/3) * #{lib.$layout-max-content-width} * 0.75 ));
			grid-column: 2;
		}

		.titleSection {
			.intro {
				font-style: normal;
				margin: lib.$layout-spacing-medium 0;
			}
		}
	}
}

.mainTextContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: lib.$layout-spacing-small;

	p {
		width: min(100%, #{$max-p-width});
	}

	/* Embedded images */
	aside {
		width: 100%;
		margin-top: lib.$layout-spacing-large;

		/* Image legends */
		& + p > em:only-child {
			display: block;
			@include lib.typo-font-normal;
			text-align: center;
			margin-bottom: lib.$layout-spacing-large;
		}
	}

	/* Embedded YouTube videos / other media content */
	iframe {
		width: calc(min(100vw, #{lib.$layout-max-content-width}) - #{lib.$layout-spacing-large * 2});
		height: calc((9/16) * (min(100vw, #{lib.$layout-max-content-width}) - #{lib.$layout-spacing-large * 2}));
		margin: lib.$layout-spacing-large 0;
	}

	@media (min-width: lib.$layout-max-content-width / 1.3) {
		& {
			display: grid;
			@include lib.layout-grid-2-columns-thirds;
			grid-gap: lib.$layout-spacing-small lib.$layout-spacing-medium;

			> * {
				grid-column: 2;
			}

			div, aside {
				grid-column: 1 / span 2;
				justify-self: center;
			}
		}
	}
}
