@use 'stylelib/index' as lib;

.header {
	width: 100%;
	position: sticky;
	top: 0;
	padding: lib.$layout-spacing-medium lib.$layout-spacing-large;
	display: flex;
	flex-direction: row;
	gap: lib.$layout-spacing-x-small;
	align-items: center;

	// See menuToggle below
	stroke: lib.$color-foreground;
	// Transition used when rolling up menu
	transition: background .2s ease-out .2s, color .2s ease-out .2s, stroke .2s ease-out .2s;

	&.menuOpened {
		background: lib.$color-foreground;
		color: lib.$color-background;
		stroke: lib.$color-background;
		transition: none;
	}

	h1 {
		@include lib.typo-font-large;
		white-space: nowrap;
	}
}

.menuToggle {
	cursor: pointer;
	display: flex;

	svg {
		stroke: inherit;
		transition: stroke .2s ease-out;
	}

	&:hover, &:focus {
		svg {
			stroke: lib.$color-accent3;
		}
	}
}

.menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 100vh;
	padding: 0 lib.$layout-spacing-large;
	overflow: hidden;
	background: lib.$color-foreground;

	ul {
		padding: 0;

		li {
			display: block;
			margin-bottom: lib.$layout-spacing-x-small;

			a {
				@include lib.typo-font-family-brand;
				@include lib.typo-font-large;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
}
