@use 'stylelib/index' as lib;

@mixin blurry-background {
	background: lib.$color-background;
	@supports (backdrop-filter: saturate(180%) blur(5px))  {
		@media (prefers-color-scheme: light) {
			backdrop-filter: saturate(180%) blur(5px);
			background: change-color(lib.$color-light-background, $alpha: 0.8);
		}
	}
}

.header {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 800;
	padding: lib.$layout-spacing-small lib.$layout-spacing-medium;

	@include lib.layout-full-width-container;

	@include blurry-background;
	color: lib.$color-foreground;

	// See menuToggle below
	stroke: lib.$color-foreground;
	// Transition used when rolling up menu
	transition: background .2s ease-out .2s, color .2s ease-out .2s, stroke .2s ease-out .2s;

	&.menuOpened {
		@supports (backdrop-filter: saturate(180%) blur(5px)) {
			background: lib.$color-background;
		}
		transition: none;
	}
}

.barContainer {
	display: flex;
	flex-direction: row;
	align-items: center;

	> * {
		margin-right: lib.$layout-spacing-small;
	}

	a {
		text-decoration: none;
	}

	h1, h2 {
		@include lib.typo-font-large;
		white-space: nowrap;
	}
}

.menuToggle {
	cursor: pointer;
	display: flex;
	padding: 0;

	svg {
		stroke: inherit;
		transition: stroke .2s ease-out;
	}

	&:hover, &:focus {
		svg {
			stroke: lib.$color-accent;
		}
	}
}

.menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 0;
	background: lib.$color-background;

	@include lib.layout-full-width-container;

	.menuColumnsWrapper {
		display: grid;
		grid-template: "a b" auto
							"a c" auto / auto 400px;
		height: min-content;
		padding-bottom: lib.$layout-spacing-large * 2;

		> .searchColumn {
			grid-area: a;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: min-content auto;
			padding-right: lib.$layout-spacing-large;

			.searchContainer {
				grid-column: 1 / span 2;
				margin-bottom: lib.$layout-spacing-large;
			}

			@media (max-width: 450px) {
				& {
					display: flex;
					flex-direction: column;
				}

				& > :last-child {
					margin-top: lib.$layout-spacing-large;
				}
			}
		}

		> .newsColumn {
			grid-area: c;
		}

		@media (max-width: 1000px) {
			& {
				display: flex;
				flex-direction: column;

				> .searchColumn {
					padding-right: 0;
					margin-bottom: lib.$layout-spacing-large;
				}
			}
		}

		h2 {
			@include lib.typo-font-family-normal;
			@include lib.typo-font-large;
			font-weight: 400;
			margin-bottom: lib.$layout-spacing-medium;
		}

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;

			> * {
				margin-bottom: lib.$layout-spacing-small;
			}

			li {
				display: block;

				a {
					@include lib.typo-font-family-brand;
					@include lib.typo-font-xlarge;
					font-weight: 700;
					text-decoration: none;
				}
			}
		}
	}

	.searchBoxContainer {
		width: 100%;
	}

	ul.socialLinksContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: lib.$layout-spacing-small;
		height: 53px;
		max-width: 400px;
		align-items: center;
		justify-content: center;
		margin-bottom: lib.$layout-spacing-large;

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
		}
	}
}

.iconedLinks {
	a {
		display: flex;
		flex-direction: row;
		align-items: center;

		> :first-child {
			margin-right: 10px;
		}
	}
}
