@use 'stylelib/index' as lib;

.container {
	margin: 0 auto;
	padding: lib.$layout-spacing-medium;
	background: lib.$color-foreground;
	color: lib.$color-background;
	max-width: 730px;
}

.subtitle {
	@include lib.typo-font-reading;
}

.form {
	padding-top: lib.$layout-spacing-small;
	display: flex;
	gap: lib.$layout-spacing-small;
}

.input {
	appearance: none;
	background: lib.$color-foreground;
	color: lib.$color-background;
	outline: none;
	border: 3px solid lib.$color-background;
	border-radius: none;
	padding: lib.$layout-spacing-x-small lib.$layout-spacing-small;

	@include lib.typo-font-family-brand;
	@include lib.typo-font-reading;

	width: 100%;
	max-width: 380px;

	transform: translateY(0px);
	transition: all .2s ease-out;

	&[type="submit"] {
		cursor: pointer;
		color: lib.$color-foreground;
		background: lib.$color-background;
		width: 200px;
	}

	&:hover, &:focus {
		color: lib.$color-foreground;
		background: lib.$color-background;
		transform: translateY(-3px);
	}
}
