$light-background: #fff;
$light-foreground: #000;
$light-subtle-background: #f6f6f6;

$dark-background: #000;
$dark-foreground: #fff;
$dark-subtle-background: #090909;

$foreground: var(--foreground);
$background: var(--background);
$subtle-background: var(--subtle-background);

$accent: #2deda8;
$accent2: #ff4545;
$accent3: #a5d4b2;
