$spacing-large: 40px;
$spacing-medium: 25px;
$spacing-small: 15px;
$spacing-x-small: 10px;

$max-main-content: 1200px;

@mixin main-side-padding {
	padding-left: $spacing-large;
	padding-right: $spacing-large;

	@media (max-width: $max-main-content / 2) {
		padding-left: $spacing-medium;
		padding-right: $spacing-medium;
	}

	@media (max-width: $max-main-content / 3) {
		padding-left: $spacing-small;
		padding-right: $spacing-small;
	}
}

@mixin centered-column-wrapper {
	display: grid;
	grid-template-columns: min(100%, #{$max-main-content});
	justify-content: center;
}

@mixin grid-4-columns {
	grid-template-columns: repeat(auto-fill, minmax(min(#{$max-main-content / 4}, 100%), 1fr));
}

@mixin grid-3-columns {
	grid-template-columns: repeat(auto-fill, minmax(min(#{$max-main-content / 3}, 100%), 1fr));
}

@mixin grid-2-columns-thirds {
	grid-template-columns: 2fr $max-main-content / 3;
	@media (max-width: $max-main-content / 1.4) {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 1fr;
	}
}

@mixin grid-2-columns {
	grid-template-columns: repeat(auto-fill, minmax(min(#{$max-main-content / 2}, 100%), 1fr));
}
