$spacing-large: 40px;
$spacing-medium: 25px;
$spacing-small: 15px;
$spacing-x-small: 10px;

$max-content-width: 1400px;

@mixin full-width-container {
	display: grid;
	grid-template-columns: min(100%, #{$max-content-width});
	justify-content: center;

	@media (max-width: $max-content-width) {
		padding-left: $spacing-medium;
		padding-right: $spacing-medium;
	}

	@media (max-width: $max-content-width / 1.3) {
		padding-left: $spacing-small;
		padding-right: $spacing-small;
	}

	@media (max-width: $max-content-width / 3) {
		padding-left: $spacing-x-small;
		padding-right: $spacing-x-small;
	}
}

@mixin grid-4-columns {
	grid-template-columns: repeat(auto-fill, minmax(min(#{$max-content-width / 4}, 100%), 1fr));
}

@mixin grid-3-columns {
	grid-template-columns: repeat(auto-fill, minmax(min(#{$max-content-width / 3}, 100%), 1fr));
}

@mixin grid-2-columns-thirds {
	grid-template-columns: 1fr 2fr;

	@media (max-width: $max-content-width / 1.3) {
		grid-template-columns: 1fr;
	}
}

@mixin grid-2-columns {
	grid-template-columns: repeat(auto-fill, minmax(min(#{$max-content-width / 2}, 100%), 1fr));
}
