@use 'index' as lib;

* {
	box-sizing: border-box;
}

/* Color linking */
:root {
	--background: #{lib.$color-light-background};
	--foreground: #{lib.$color-light-foreground};

	@media (prefers-color-scheme: dark) {
		& {
			--background: #{lib.$color-dark-background};
			--foreground: #{lib.$color-dark-foreground};
		}
	}
}

::selection {
	background-color: lib.$color-accent;
}

html, body {
	padding: 0;
	margin: 0;
	@include lib.typo-font-family-normal;
	color: lib.$color-foreground;
	background: lib.$color-background;
}

h1, h2, h3, h4, h5, h6, span, p {
	margin: 0;
}

h1, h2, h3 {
	@include lib.typo-font-family-brand;
	@include lib.typo-font-xlarge;
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 0.01rem;
}

h3 { font-weight: 700; }

h4, h5, h6 {
	@include lib.typo-font-large;
	line-height: 1.2;
}

h4 { font-weight: 700; }
h5 { font-weight: 500; }

h6 {
	@include lib.typo-font-small;
	font-weight: 400;
}

span, input {
	@include lib.typo-font-normal;
}

span { font-weight: 500; }
input { font-weight: 400; }

p {
	@include lib.typo-font-reading;
	font-weight: 400;
	max-width: 65ch;
	hyphens: auto;

	& strong {
		font-weight: 700;
	}

	& em {
		font-style: italic;
	}
}

a {
	color: inherit;
	cursor: pointer;
	font-weight: 500;
	text-decoration: underline;
	transition: color .15s ease-out;

	&:hover, &:focus {
		color: lib.$color-accent;
	}
}

button {
	appearance: none;
	background: transparent;
	outline: none;
	border: none;
}
